body{
    background: darkslategray;
}
.upload{

    position: fixed;
    bottom: 1%;
    right: 1%;
}

.upload-ico{

    width:100px;
    opacity:0.7;
    overflow:hidden;
}
.photo-content{
    border-radius: 10px;
    margin-top:70px;
   /* background: #ffffff;*/
    width:1200px;
    margin-left: auto;
    margin-right: auto;

}

.photo-content img{

    border-radius: 10px;
    width:230px;
    height: 300px;
}
.img-display{
    margin-left: 20px;
    border:8px solid  rgba(255,200,200,0.14);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    margin-top:25px;
    float: left;
}
.img-display p{

    font-size: 18px;
    color: #ffffff;
    font-family: 微软雅黑;
    margin-left: 10px;
}
.control-btns{
    float: right;
    margin-right: 5px;
}
.control-btns img{
    border-radius: 0px;
    width: 20px;
    height: 20px;
    margin-left: 8px;
    left: -20px;
}
.pre-btn{

    position: fixed;
    top:50%;
    left: 2%;
}
.pre-btn img{

    width: 60px;
    height: 120px;

}
.next-btn{
    position: fixed;
    top: 50%;
    right: 2%;
}
.next-btn img{
     width: 60px;
     height: 120px;
}